.container {
  width: 1200px !important;
}
#backgroundImage {
  background-color: ;
  width: 100%;
  height: 750px;  
}
.navbar-brand, .navbar-brand:hover {
  font-family: Georgia;
  text-decoration: none;
  color: #080808;
  font-size: 18;
  font-weight: 500;
  text-align: center;
  margin-top: 3px;
}
.election2016 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.election {
  max-width: 230px;
  min-width: 175px;
  margin-top: 18px;
  display: inline-block;
}
#signUp {
  background-color: transparent;
  font-family: Georgia;
  font-weight: 500;
  font-size: 17px;
  float: right;
  margin-top: 10px;
  border: none;
}
#signUp:focus {
  outline: 0;
}
#registerLabel {
  font-size: 30px;
}
label {
  font-size: 17px;
  font-weight: 400;
  margin-top: 10px;
}
.fold {
  margin-top: 50px;
}
.title {
  font-family: Georgia;
  letter-spacing: 2px;
  font-size: 55px;
  font-weight: 400;
  text-align: center;
}
.hook {
  font-family: Georgia;
  color: #6D6E70;
  font-weight: 100;
  text-align: center;
  font-size: 25px;
}
.golden {
  font-family: Georgia;
  font-weight: 500;
}
.hook-row {
  margin-bottom: 40px;
}
.candidate-group1, .candidate-group2 {
  text-align: center;
}
.parties {
  font-family: Arial;
  font-weight: 800;
  font-size: 20px;
  width: 125px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 3px solid black;
  padding-right: 10px;
  padding-bottom: 8px;
}
.democrats, .republicans {
  display: inline-block;
}
.portraits {
  border-radius: 7%;
  cursor: pointer;
}
.discover {
  text-align: center;
  font-family: Georgia;
  font-size: 22px;
  margin-top: 50px;
}
.modal-bio-width {
  width: 900px;
}
.modal-bio-height {
  height: 420px;
}
#bioLabel {
  font-family: Georgia;
  font-size: 35px;
}
#candidateName {
  font-family: Georgia;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.biography-top, .biography-bottom {
  font-family: Georgia;
  font-size: 23px;
}
.biography-top {
  margin-top: 30px;
  margin-bottom: 35px;
}
.biography-bottom {
  margin-bottom: 35px;
}
.description-label {
  font-weight: 700;
}
.description-bio {
  color: #6D6E70;
}
#logoBackground {
  margin-top: 50px;
}
.toggle-image {
  width: 100%;
  height: auto;
  text-align: center;
  display: inline-block;
}
.toggle-button {
  text-align: center;
}
.toggle-btn {
  width: 160px;
  font-size: 18px;
  font-weight: 200;
  border-radius: 0;
}
.toggle-btn:focus {
  outline: 0 !important;
}
.toggle-btn {
  -webkit-filter: grayscale(1);
}
.toggle-btn:hover {
  -webkit-filter: grayscale(0);
  -webkit-transition: all .2s ease-in;
}
.toggle-btn:focus {
  -webkit-filter: grayscale(0);
}
#tableBackground {
  margin-top: 50px;
  margin-bottom: 50px;
}
.input-group-btn {
  padding-top: 30px;
}
.send-tweet:focus {
  outline: 0;
}
.twitter-container {
  margin-top: 50px;
  margin-bottom: 40px;
}
.twitter-row {
  margin-top: 30px;
  margin-bottom: 40px;
}
.all-tweets {
  width: 945px;
  height: 445px;
  border: 1px solid #d7e3ed;
  margin-bottom: 9px;
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.4);
  overflow: auto;
}
#realName, #screenName {
  font-size: 16px;
  margin-top: 5px;
  display: inline-block;
}
.real-name {
  font-weight: 700;
  margin-left: 10px;
}
.screen-name {
  color: #8899A6;
}
.tweet-home {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
}
.footer {
  margin-top: 50px;
}
.footer-election {
  margin-top: 10px;
  max-width: 300px;
}
.footer-headers {
  font-size: 15px;
}
.footer-links {
  font-size: 13px;
  color: #6D6E70;
  margin-top: 20px;
}
.footer-container {
  margin-bottom: 50px;
}
.flex-container {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
}
.twitter-item {
  margin-top: -20px;
}
.profile-image {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.streamed-tweets {
  font-size: 14px;
}
/* ----- CHART CSS ----- */
#chart {
  height: 400px;
  width: 945px;
}
#chart .c3-axis-x {
  font-size: 15px;
}
#chart .c3-axis-y {
  font-size: 12px;
}
/* Small devices (995 and up) */
  @media (min-width: 995px) {
    .fold {
      margin-top: 100px;
    }
  }

