#backgroundImage {
  background-color: #fcfcfc;
  width: 100%;
  height: 800px;  
}
.navbar-brand, .navbar-brand:hover {
  font-family: Georgia;
  text-decoration: none;
  color: #080808;
  font-size: 18;
  font-weight: 500;
  text-align: center;
  margin-top: 3px;
}
.election2016 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.election {
  max-width: 230px;
  margin-top: 18px;
  display: inline-block;
}
#signUp {
  background-color: transparent;
  font-family: Georgia;
  float: right;
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
  border: none;
}
#registerLabel {
  font-size: 30px;
}
label {
  font-size: 17px;
  font-weight: 400;
  margin-top: 10px;
}
.fold {
  margin-top: 150px;
}
.title {
  font-family: Georgia;
  letter-spacing: 2px;
  font-size: 65px;
  font-weight: 400;
  text-align: center;
}
.hook {
  font-family: Georgia;
  color: #6D6E70;
  font-weight: 100;
  text-align: center;
}
.golden {
  font-family: Georgia;
  font-weight: 500;
}
.hook-row {
  margin-bottom: 40px;
}
.candidate-group1, .candidate-group2 {
  text-align: center;
}
.parties {
  font-family: Arial;
  font-weight: 800;
  width: 150px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 3px solid black;
  padding-right: 10px;
  padding-bottom: 8px;
}
.democrats, .republicans {
  display: inline-block;
}
.portraits {
  border-radius: 7%;
}
#logoBackground {
  margin-top: 50px;
}
.toggle-image {
  width: 100%;
  height: auto;
  text-align: center;
  display: inline-block;
}
.party-logo {
  -webkit-filter: grayscale(1);
}
.party-logo:hover {
  -webkit-filter: grayscale(0);
  -webkit-transition: all .2s ease-in;
}
.party-logo:focus {
  -webkit-filter: grayscale(0);
  outline: 0;
}
#tableBackground {
  margin-top: 30px;
}
.input-group-btn {
  padding-top: 30px;
}
.send-tweet:focus {
  outline: 0;
}
.twitter-container, .twitter-row {
  margin-top: 30px;
}
.all-tweets {
  border: 1px solid #d7e3ed;
  margin-bottom: 9px;
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.realName, .screen-name {
  margin-left: 5px;
  display: inline-block;
}
.screen-name {
  color: #8899A6;
}
.userTweet {
  margin-left: 5px;
}
footer {
  height: 100px;
}